apiVersion: v1
kind: ServiceAccount
metadata:
  name: k8s-events-to-slack-streamer
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: k8s-events-to-slack-streamer
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: k8s-events-to-slack-streamer
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: k8s-events-to-slack-streamer
subjects:
- kind: ServiceAccount
  name: k8s-events-to-slack-streamer
  namespace: default
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: k8s-events-to-slack-streamer
  labels:
    app: k8s-events-to-slack-streamer
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: k8s-events-to-slack-streamer
    spec:
      containers:
      - image: fivexl/kubernetes-events-to-slack:1.4.2
        imagePullPolicy: Always
        name: k8s-events-to-slack-streamer
        env:
        - name: K8S_EVENTS_STREAMER_INCOMING_WEB_HOOK_URL
          value: PUT-WEB-HOOK-URL-HERE
        - name: K8S_EVENTS_STREAMER_NAMESPACE
          value: 'default' 
#        - name: K8S_EVENTS_STREAMER_DEBUG
#          value: 'true'
        - name: K8S_EVENTS_STREAMER_SKIP_DELETE_EVENTS
          value: 'True'
#        It is imporatnt that you use <> around user names
#        https://api.slack.com/docs/message-formatting#linking_to_channels_and_users
#        - name: K8S_EVENTS_STREAMER_USERS_TO_NOTIFY
#          value: '<@andrey9kin>'
        - name: K8S_EVENTS_STREAMER_LIST_OF_REASONS_TO_SKIP
          value: 'Scheduled ScalingReplicaSet Pulling Pulled Created Started Killing SuccessfulMountVolume SuccessfulUnMountVolume'
